

.header {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 24px;
    display: flex;
    justify-content: center;
}



p {
    font-family:'Courier New', Courier, monospace;
    font-size: 15px;
    display: flex;
    justify-content: flex-end;

}

.container {
    display: flex;
    flex-direction: row;
    flex: 1 1 auto;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    justify-content: center;
    max-height: 20vh;
   
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: rgb(235, 224, 212);

}

.result {
    display: flex;
    margin-top: 30vh;
    align-items: center;
    justify-content: center;

}

.buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: space;
    padding: 2vh;
    max-height: 2vh;
    margin-bottom: 5vh;
    
    



}

button {
display: flex;
justify-content: space-evenly;
flex-direction: row;
align-items: center;
background-color: rgb(109, 109, 134);
border: 1px solid;
font-size: 18px;
font-family: Arial;
color: white;
border-radius: 10px;
padding: 10px;
margin-right: 5vh;
margin-left: 5vh;
height: 6vh;
width: 14vh;
text-align: center;
justify-content: center;
font-size: 22px;
font-weight: 800;
text-shadow: 1px 1px black;
}

button:hover {
    color: rgba(175, 182, 167, 0.863);
    transform: scale(1.1);
    transition: 0.15s ease-in-out;
}



button:active {
    background-color: rgb(75, 97, 109);
    box-shadow: 2px 4px 1px rgb(0, 0, 0);
    transform: translateY(3px);
    color: white;
    
}


.footer {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    padding: 1vh;
    margin-top: 2vh;

}

.ehrmantraut {

    visibility: hidden;
    max-height: 40vh;
    max-width: 40vh;
    margin-right: auto;
    margin-left: auto;
    border-radius: 25px;
    display: flex;
    justify-content: center;
    align-items: center;

 }


.scorediv {
    display: flex;
    flex-direction: row;
    padding: 10vh;
    

    font-family: Verdana, Geneva, Tahoma, sans-serif;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 5vh;
    padding: 10vh;

}

.resultdiv {
    display: flex;
    flex-direction: row;
    padding: 5vh;

    font-family: Arial, Helvetica, sans-serif;
    align-items: center;
    justify-content: space-evenly;
}




.finalResult {
    display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
    
}



.reset {
    visibility: hidden;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 2vh;
    max-height: 3vh;
    max-width: 30vh;
    margin-left: auto;
    margin-right: auto;
    

}
